  #container{
      width:900px;
      margin-left: auto;
      margin-right: auto;
	  min-height:400px;
	  margin-bottom:20px;
	  background-image:url('../images/fondo.jpg');

  }
  
  h1{
	  color:#808080;
	  font-size:30px;
	  margin-top:25px;
	  margin-bottom:10px;
	  font-weight:bold;
  }
  
  h3{
	  color:#01437D;
	  margin:0 5px 5px 0;
  }
  
  table{
	  border:#01437D 1px solid;
  }
  
  th{
	  background-color:#01437D;
	  color:#E0E0E0;
	  font-size:16px;
	  font-weight:bold;
  }
  
  td{
	  border:1px solid #01437D;
	  color:#01437D;
	  font-weight:bold;
  }
  
  #powered{
	  float:left;
	  margin-top:20px;
	  margin-left:10px;
  }
  
  #copyright{
	  float:right;
	  margin-right:10px;
	  margin-top:20px;
  }
  
  fieldset{
	margin-top:20px;
	border:#666 2px solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
  }
  
  #index_space{
	  height:20px;
  }
  
  #icons{
	  margin-top: 40px;
	  margin-bottom:0px;
  }
  
  #icons a{
	  margin-right: 220px;
	  margin-left: 0px;
	  line-height:100px;
	  background-image:url('../images/background.jpg');
  }
  
  legend{
	  color: #01437D;
	  font-size:16px;
	  font-weight: bold;
 }
  
  input[type='submit']{
	  border:none;
	  background-color: #01437D;
	  color:#FFF;
	  border:#999 2px solid; 
	  margin-left: 380px;
	  margin-top:10px;
	  height:30px;
	  width:80px;
  }
  
  
  form p{
	  margin-bottom:10px;
  }
  
  a, a:visited{
	  color:#333;
	  font-size:14px;
	  text-decoration:underline;
  }
  
  /*Yazmin starts 09 Oct 2012*/
  #header_home{
     
	  width:900px;
	  height:360px;
	  margin-left:auto;
	  margin-right:auto;
	  background-image:url('../images/header_bg.jpg');
  }
  
  #footer_home{
	  width:900px;
	  height:60px;
	  color: #01437D;
	  margin-left: auto;
      margin-right: auto;
	  font-weight:bold;
	  margin-top:20px;
  }
  
  #header_general{
	  width:900px;
	  height:120px;
	  margin-left:auto;
	  margin-right:auto;
	  background-image:url('../images/header_general.jpg');
  }
  
  #footer_general{
	  width:900px;
	  height:60px;
	  margin-left: auto;
      margin-right: auto;
	  font-weight:bold;
	  color: #01437D;
	  background-color:#D9E3E0;
	  margin-top:20px;
  }
  
  #fieldset_home{
	height:155px;
	margin-bottom:20px;	
	background-image:url('../images/background.jpg');
  }
  
  body {
	  font-family:Arial, Helvetica, sans-serif;
  }
  
  
  #container.home{
	   background-image:none;
  }
  /*Yazmin ends*/


  span.clickable, span#hide{
      border: 1px #000 solid;
      margin: 3px;
      padding: 7px;
      background-color: #134D5C;
      color: #FFF;
      cursor: pointer;
  }

  #buttons{
      margin-top: 15px;
      margin-bottom: 15px;
  }

  #mostrar{
      background-color: #01437D;
      line-height: 1.8em;
      vertical-align: middle;
      color: #FFF;
      padding: 5px;
      cursor: pointer;
  }
  
  .ui-dialog .ui-dialog-contain { margin-top: 0; margin-left:auto; margin-right:auto;}
  
  .ui-input-search{
	  margin-top:30px;
	  margin-bottom:30px;
  }
  
  .ui-listview{
	margin-top:30px;
  }
  
  